<h1>Мороженое</h1>

<form method="POST" action="/icecream">
  <input name="name" placeholder="Название">
  <input name="flavor" placeholder="Вкус">
  <button type="submit">Создать</button>
</form>